main {
    width: 100%;
    position: relative;
    padding-top: 50px;
}

main > div > * {
    width: 1200px;
    margin: 0 auto;
}

.main-container > div {
    display: flex;
}

aside {
    width: 210px;
}

aside h3 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
}

.side-link-container {
    width: 210px;
    border-top: 2px solid #222;
}

.side-link {
    width: 210px;
    padding: 20px 0px 20px 20px;
    border-bottom: 1px solid #DCDCDC;
    font-size: 16px;
    color: #333;
    box-sizing: border-box;
}

.selected-link {
    color: white;
    background-color: #3f97f6;
}

/* =============== start ===============  */
.Graduate_School-container {
    width: 100%;
    margin: 8px 0 0 50px;
}

.Graduate_School-container h4 {
    font-size: 26px;
    font-weight: 700;
    border-bottom: 2px solid #222;
    margin-bottom: 31px;
    padding-bottom: 20.8px;
}

.Graduate_School-intro {
    display: flex;
}

.Graduate_School-intro > img {
    width: 320px;
    height: 240px;
}

.Graduate_School-intro-text {
    margin-left: 20px;

}

.Graduate_School-intro-text > p {
    margin-bottom: 8px;
}

.Graduate_School-intro-text > p:nth-child(1) {
    font-size: 16px;
    font-weight: 350;
    color: #666;
}

.Graduate_School-intro-text > p:nth-child(2) {
    font-weight: 350;
    font-size: 26px;
    color: #3b88d4;
}

.Graduate_School-intro-text > p:nth-child(3) {
    font-weight: 350;
    font-size: 16px;
    color: #666;
}

.list {
    display: flex;
    width: 930px;
    height: 24px;
    margin-top: 60px;
}

.list > img {
    width: 5px;
    height: 17px;
    margin-top: 6px;
}

.list > h5 {
    margin-left: 10px;
    font-size: 18px;
    font-weight: 500;
    color: #145074;
}

.table {
    width: 930px;
    height: auto;
    margin-top: 30px;
    margin-bottom: 100px;
    border-top: 2px solid #071f4b;
    box-sizing: border-box;
}

.table th {
    background-color: #f4f8fc;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.5px;
}

.table th:nth-of-type(1) {
    width: 249.2px;
    height: 50px;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #dedede;
    box-sizing: border-box;
}

.table th:nth-of-type(2) {
    width: 249.2px;
    height: 50px;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #dedede;
    box-sizing: border-box;
}

.table th:nth-of-type(3) {
    width: 249.22px;
    height: 50px;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #dedede;
    box-sizing: border-box;
}

.table th:nth-of-type(4) {
    width: 182.38px;
    height: 50px;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #dedede;
    box-sizing: border-box;
}

.table td {
    width: 249.2px;
    height: 50px;
    text-align: center;
    font-weight: 350;
    font-size: 16px;
    letter-spacing: -0.5px;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #dedede;
    box-sizing: border-box;

}

.table div {
    display: flex;
    justify-content: center;
}

.table div > p {
    font-weight: 350;
    font-size: 16px;
    letter-spacing: -0.5px;
}

.table div > a {
    width: 17px;
    height: 17px;
    margin-top: 4px;
    margin-left: 7px;
}