* {
    margin: 0;
    padding: 0;
    font: normal 13px "Noto Sans KR";
}

a {
    text-decoration: none;
}

ul, li {
    list-style: none;
}

body {
    min-width: 1200px; /* 최소 너비 유지 */
}

/* --------- header start --------- */
header {
    width: 100%;
    box-sizing: border-box;
}

header > div > * {
    width: 1200px;
    margin: 0 auto;
}

.topMenuBar {
    width: 100%;
    background-color: #00518C;
}

.topMenus {
    height: 28px;
    padding: 5px 0 5px 5px;
    box-sizing: border-box;
    text-align: right;
}

.topMenus li {
    display: inline;
}

.topMenus li > a {
    color: white;
    font-size: 12px;
    border-right: 1px solid #4D85AE;
    padding-left: 5px;
    padding-right: 7px;
    font-weight: 350;
}

.topMenus li:last-child > a {
    border: none;
    padding-right: 0;
}

.header-background {
    background-color: #1F2838;
    padding: 17px 0;
}

/* --------- header end --------- */

/* --------- main start --------- */
main {
    width: 100%;
    box-sizing: border-box;
}

main > * {
    width: 1200px;
    margin: 0 auto;
}

.main-container {
    display: flex;
}

.sidebar {
    display: flex;
    width: 270px;
    flex-direction: column;
    background-color: #EAEAEA;
    border-left: 1px solid #C0C0C0;
    padding-bottom: 20px;
}

.side-icon {
    width: 20px;
    margin-right: 5px;
}

.side-title {
    font-size: 16px;
    font-weight: 700;
    color: #222;
}

.side-container {
    margin-top: 20px;
    margin-left: 20px;
}

.side-container > a {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.side-container ul > li {
    margin-bottom: 10px;
}

.side-container ul > li:last-child {
    margin-bottom: 10px;
}

.side-container ul > li > a {
    margin-left: 20px;
    font-size: 14px;
    font-weight: 350;
    color: #111;
}

.side-container ul > li > a::before {
    content: "·";
    margin-right: 5px;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 20px;
}

.main-header {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #C0C0C0;
}

.location {
    display: flex;
    align-items: center;
    margin-bottom: -10px;
}

.location > p {
    font-size: 14px;
    font-weight: 350;
}

.location > img {
    width: 4px;
    height: 6px;
    margin: 3px 7px 0 7px;
}

.current-location {
    font-size: 14px;
    font-weight: 350;
    color: #145074;
}

.main-header > h3 {
    font-size: 20px;
    font-weight: 700;
}

.select-container {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-top: 3px;
}

select {
    width: 100px;
    height: 35px;
    font-weight: 350;
    color: #333;
    padding-left: 10px;
    outline: none;
    appearance: none;
    box-sizing: border-box;
    border: 1px solid #959595;
}

option {
    font-weight: 350;
    color: #333;
}

input {
    width: 200px;
    height: 35px;
    outline: none;
    padding-left: 5px;
    box-sizing: border-box;
    font-weight: 350;
    color: #333;
    border: 1px solid #959595;
}

.searchBtn {
    width: 65px;
    height: 35px;
    color: white;
    font-weight: 350;
    background: #1A528E;
    border: none;
    cursor: pointer;
}

.table-container {
    margin-top: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;

    color: #333;
}

table tr > th {
    border-top: 1px solid #a3a3a3;
    border-bottom: 1px solid #a3a3a3;
    height: 45px;
    background: #FAFAFA;
    font-weight: 700;
}

table tr > td {
    width: 95px;
    height: 45px;
    border-bottom: 1px solid #a3a3a3;
}

table tr > td:nth-child(1) {
    width: 130px;
}

table tr > td:nth-child(3) {
    width: 150px;
}

.paging-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    box-sizing: border-box;
}

.paging-container > a {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.paging-container > a > img {
    padding: 10px;
    border: 1px solid #dedede;
}

.paging-container > a > button {
    width: 32px;
    height: 32px;
    border: 1px solid #dedede;
    background-color: white;
    color: #888;
    font-size: 15px;
    font-weight: 350;
    cursor: pointer;
}

.mr-3 {
    margin-right: 3px;
}

.mr-10 {
    margin-right: 10px;
}

.selected {
    border: none !important;
    color: white !important;
    background: #1A528E !important;
}

/* --------- main end --------- */

/* --------- footer start --------- */
footer {
    width: 100%;
    box-sizing: border-box;
}

footer > div > * {
    width: 1200px;
    margin: 0 auto;
}

.footer-container {
    background-color: #19202D;
    padding: 21.5px 0;
}

.footer-container > p {
    font-size: 12px;
    font-weight: 350;
    color: white;
}

/* --------- footer end --------- */