<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">

    <script th:src="@{/js/header.js}"></script> <!--자바스크립트-->
    <link rel="stylesheet" th:href="@{/style/common/_header.css}"/>
    <link rel="stylesheet" th:href="@{/style/common/_header2.css}"/>
    <link rel="stylesheet" th:href="@{/style/common/main.css}"/>
    <link rel="stylesheet" th:href="@{/style/bachelor_guide/bachelor_notice.css}"/>
    <link rel="stylesheet" th:href="@{/style/common/_footer.css}"/>
    <link rel="website icon" type="png" th:href="@{/images/favicon.png}">
    <title>공지사항</title>
</head>
<body>
<div id="wrapper">
    <th:block th:include="/common/_header.html"/>
    <div class="location-container">
        <div>
            <ul>
                <li>
                    <a th:href="@{/}">
                        <img
                                th:src="@{/images/ico-home.png}"
                                th:alt="home"
                                class="ico-home"
                        />
                    </a>
                </li>
                <li>
                    <img
                            th:src="@{/images/btn-next-page.png}"
                            th:alt="next"
                            class="ico-next"
                    />
                    <a href="#">학사안내</a>
                </li>
                <li>
                    <img
                            th:src="@{/images/btn-next-page.png}"
                            th:alt="next"
                            class="ico-next"
                    />
                    <a th:href="@{bachelor_guide/bachelor_notice}" class="this-location">공지사항</a>
                </li>
            </ul>
        </div>
    </div>
    </header>
    <!-- header end -->
    <main>
        <div class="main-container">
            <div>
                <aside>
                    <h3>학사안내</h3>
                    <div class="side-link-container">
                        <a th:href="@{/bachelor_guide/bachelor_notice}">
                            <div class="side-link selected-link">공지사항</div>
                        </a>
                        <a th:href="@{/bachelor_guide/bachelor_schedule}">
                            <div class="side-link">학사일정</div>
                        </a>
                        <a th:href="@{/bachelor_guide/cou_reg}">
                            <div class="side-link">수강신청</div>
                        </a>
                        <a th:href="@{/bachelor_guide/grade}">
                            <div class="side-link">성적</div>
                        </a>
                        <a th:href="@{/bachelor_guide/com_n_grd}">
                            <div class="side-link">수료 밎 졸업</div>
                        </a>
                        <a th:href="@{/bachelor_guide/fre_Que}">
                            <div class="side-link">자주묻는질문</div>
                        </a>
                    </div>
                </aside>
                <div class="enterance-container">
                    <h4>공지사항</h4>
                    <div>
                        <form action="#" class="searchForm">
                            <select name="search" class="selectType">
                                <option value="#" disabled selected class="selectTypes">선택</option>
                                <option value="#" class="selectTypes">학년</option>
                                <option value="#" class="selectTypes">과목명</option>
                                <option value="#" class="selectTypes">담당교수</option>
                            </select>
                            <input type="text" placeholder="검색어를 입력해 주세요." class="searchWord">
                            <button type="submit" class="searchBtn">검색</button>
                        </form>
                        <table>
                            <tr>
                                <th>번호</th>
                                <th>제목</th>
                                <th>작성자</th>
                                <th>작성일</th>
                                <th>조회</th>

                            </tr>

                            <tr>
                                <td>3</td>
                                <td><img th:src="@{/images/ico-new01.gif}">2025학년도 신입학 3차 추가모집 모집요강 및 모집...</td>
                                <td>담당자</td>
                                <td>24.04.09</td>
                                <td>160</td>
                            </tr>

                            <tr>
                                <td>2</td>
                                <td><img th:src="@{/images/ico-new01.gif}">2025학년도 신입학 2차 추가모집 모집요강 및 모집...</td>
                                <td>담당자</td>
                                <td>24.04.09</td>
                                <td>160</td>
                            </tr>

                            <tr>
                                <td>1</td>
                                <td>2025학년도 신입학 추가모집 모집요강 및 모집인원 공지</td>
                                <td>담당자</td>
                                <td>24.04.09</td>
                                <td>160</td>
                            </tr>

                        </table>
                        <div class="paging-container">
                            <a href="#" class="mr-3">
                                <img th:src="@{/images/btn-first-page.png}" alt="첫페이지">
                            </a>
                            <a href="#" class="mr-10">
                                <img th:src="@{/images/btn-prev-page.png}" alt="이전페이지">
                            </a>

                            <a href="#" class="mr-3 mb-2">
                                <span class="selected">1</span>
                            </a>
                            <a href="#" class="mr-3 mb-2">
                                <span>2</span>
                            </a>
                            <a href="#" class="mr-10 mb-2">
                                <span>3</span>
                            </a>

                            <a href="#" class="mr-5">
                                <img th:src="@{/images/btn-next-page.png}" alt="이전페이지">
                            </a>
                            <a href="#">
                                <img th:src="@{/images/btn-last-page.png}" alt="이전페이지">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <th:block th:include="/common/_footer.html"/>
</div>
</body>
</html>