.enterance-container {
    width: 100%;
    margin: 8px 0 0 50px;
}

.enterance-container h4 {
    font-size: 26px;
    font-weight: 700;
    border-bottom: 2px solid #222;
    margin-bottom: 31px;
    padding-bottom: 20.8px;
}

.searchForm {
    display: flex;
    justify-content: right;
    height: 40px;
    margin-bottom: 20px;
}

.selectType {
    background-color: white;
    background: url("../../images/btn-sel-open01.png") no-repeat right 12px center;
    width: 150px;
    height: 40px;
    padding-left: 10px;
    border: 1px solid #dedede;
    font-size: 15px;
    font-weight: 350;
    color: #666;
    box-sizing: border-box;
    appearance: none;
    margin-right: 8px;
}

.selectType:focus {
    outline: none;
}

.selectTypes {
    font-size: 15px;
    font-weight: 350;
    color: #666;
}

.searchWord {
    border: 1px solid #dedede;
    width: 237px;
    padding: 10px 0 10px 10px;
    font-size: 15px;
    font-weight: 350;
    color: #666;
    appearance: none;
    box-sizing: border-box;
}

.searchWord:focus {
    outline: none;
}

.searchBtn {
    background: #3f97f6;
    border: none;
    width: 70px;
    color: white;
    font-size: 15px;
    font-weight: 350;
    cursor: pointer;
    box-sizing: border-box;
}

table {
    width: 100%;
    text-align: center;
    border-top: 2px solid black;
    border-collapse: collapse;
}

table tr > th {
    font-size: 16px;
    font-weight: 700;
    height: 61px;
    background: #fafafa;
    border-bottom: 1px solid #a3a3a3;
}

td img {
    margin-right: 8px;
    vertical-align: middle; /* 텍스트랑 높이 맞추고 싶을 때 */
}

table tr > th:nth-child(1) {
    width: 66.36px;
}

table tr > th:nth-child(2) {
    width: 66.38px;
}

table tr > th:nth-child(3) {
    width: 141.06px;
}

table tr > th:nth-child(4) {
    width: 406.59px;
}

table tr > th:nth-child(5) {
    width: 150px;
}

table tr > th:nth-child(6) {
    width: 99.59px;
}

table tr > td {
    width: 90px;
    height: 61px;
    font-size: 16px;
    font-weight: 350;
    border-bottom: 1px solid #a3a3a3;
}

table tr > .first_td {
    color: red;
}

table tr > .second_td,
.third_td {
    color: green;
}

.left {
    text-align: left;
}

.appBtn {
    padding: 5px 6px;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: 350;
    background: #092e71;
    cursor: pointer;
}

.paging-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    box-sizing: border-box;
}

.paging-container > a {
    color: #888;
}

.paging-container > a > img {
    padding: 10px;
    border: 1px solid #dedede;
}

.paging-container > a > button {
    width: 35px;
    height: 35px;
    border: 1px solid #dedede;
    font-size: 15px;
    font-weight: 350;
    cursor: pointer;
    color: #333;
    background: white;
}


.btn-inquiry {
    background-color: #3f97f6;
    width: 110px;
    height: 42px;
    font-weight: 350;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0;
    border: 1px solid #3f97f6;
    color: white;
}

.btn-inquiry:hover {
    background-color: #2a6fc0;
}

.mb-2 {
    margin-bottom: 2px;
}

.mr-3 {
    margin-right: 3px;
}

.mr-10 {
    margin-right: 10px;
}

.selected {
    background: #3f97f6 !important;
    color: white !important;
}


/* 각 버튼 스타일 */

.btn-status1 {
    font-size: 14px;
    font-weight: 45;
    padding: 8px 10px;
    color: white;
}

.btn-status2 {
    font-size: 14px;
    font-weight: 34;
    padding: 6px 9px;
    color: white;
}

.btn-end {
    background-color: #9B9A9A;
}

.btn-complete {
    background-color: #20A0B7;

}
