<!--
  이름 : 이은선
  날짜 : 2025/03
  내용 : 수시모집 html
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet"/>

    <script th:src="@{/js/header.js}"></script>
    <script th:src="@{/js/rec.js}"></script>
    <link rel="stylesheet" th:href="@{/style/common/main.css}"/>
    <link rel="stylesheet" th:href="@{/style/enterance_guide/early.css}"/>
    <link rel="stylesheet" th:href="@{/style/common/_header.css}"/>
    <link rel="stylesheet" th:href="@{/style/common/_footer.css}"/>
    <link rel="stylesheet" th:href="@{/style/common/_header2.css}"/>
    <link rel="stylesheet" th:href="@{/style/common/_header2.css}"/>

    <link rel="website icon" type="png" th:href="@{/images/favicon.png}">
    <title>수시모집</title>
</head>
<body>
<div id="wrapper">
    <th:block th:include="/common/_header.html"/>
    <div class="location-container">
        <div>
            <ul>
                <li>
                    <a href="#">
                        <img
                                th:src="@{/images/ico-home.png}"
                                alt="home"
                                class="ico-home"
                        />
                    </a>
                </li>
                <li>
                    <img
                            th:src="@{/images/btn-next-page.png}"
                            alt="next"
                            class="ico-next"
                    />
                    <a href="#">입학안내</a>
                </li>
                <li>
                    <img
                            th:src="@{/images/btn-next-page.png}"
                            alt="next"
                            class="ico-next"
                    />
                    <a href="#" class="this-location">수시모집</a>
                </li>
            </ul>
        </div>
    </div>
    </header>
    <main>
        <div class="main-container">
            <div>
                <aside>
                    <h3>입학안내</h3>
                    <div class="side-link-container">
                        <a th:href="@{/enterance_guide/notice}">
                            <div class="side-link ">공지사항</div>
                        </a>
                        <a th:href="@{/enterance_guide/early}">
                            <div class="side-link selected-link">수시모집</div>
                        </a>
                        <a th:href="@{/enterance_guide/regular}">
                            <div class="side-link">정시모집</div>
                        </a>
                        <a th:href="@{/enterance_guide/transfer}">
                            <div class="side-link">편입학</div>
                        </a>
                        <a th:href="@{/enterance_guide/consult}">
                            <div class="side-link ">입학상담</div>
                        </a>
                    </div>
                </aside>
                <div class="enterance-container">
                    <h4>수시모집</h4>
                    <div class="recContainer">
                        <div class="list">
                            <ul class="steps">
                                <li class="thisStep">모집요강확인 <span class="dott">•</span></li>
                                <li>입학원서작성 <span class="dott">•</span></li>
                                <li>서류제출 <span class="dott">•</span></li>
                                <li>합격자발표 <span class="dott">•</span></li>
                                <li>예치금납부 <span class="dott">•</span></li>
                                <li>추가합격 <span class="dott">•</span></li>
                                <li>본 등록 <span class="dott">•</span></li>
                            </ul>
                            <div class="cont">
                                <p class="step">STEP 01</p>
                                <p class="subtitle">모집요강확인</p>
                                <p class="subcontent"></p>
                                <p class="content">2025학년도 수시1차 모집요강을 확인하세요.</p>
                                <p class="date"></p>
                                <p class="additional"></p>
                                <p class="date2"></p>
                            </div>
                            <div class="img">
                                <img th:src="@{/images/step1.png}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <th:block th:include="/common/_footer.html"/>
</div>
</body>
</html>
