<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/style/common/_adminHeader.css}">
    <link rel="stylesheet" th:href="@{/style/common/_adminFooter.css}">
    <link rel="stylesheet" th:href="@{/style/admin/adminMain.css}">
    <link rel="website icon" type="png" th:href="@{/images/favicon.png}">
    <title>학사관리시스템</title>
</head>
<body>
<div id="wrapper">
    <th:block th:include="/common/_adminHeader.html"/>

    <main>
        <div class="main-container">
            <div class="sidebar">
                <div class="side-container">
                    <a href="#">
                        <img th:src="@{/images/ico-admin-setting.png}" alt="환경설정" class="side-icon">
                        <p class="side-title">환경설정</p>
                    </a>
                    <ul>
                        <li><a href="#">기본환경정보</a></li>
                        <li><a href="#">약관관리</a></li>
                    </ul>
                </div>
                <div class="side-container">
                    <a href="#">
                        <img th:src="@{/images/ico-admin-academic.png}" alt="학사운영" class="side-icon">
                        <p class="side-title">학사운영</p>
                    </a>
                    <ul>
                        <li><a th:href="@{/admin/eduStatus}">교육 운영 현황</a></li>
                        <li><a href="#">학년별 학생 현황</a></li>
                        <li><a href="#">학과별 학생 현황</a></li>
                        <li><a th:href="@{/admin/lectureList}">강의 목록</a></li>
                        <li><a th:href="@{/admin/lecEnrollment}">강의 등록</a></li>
                        <li><a th:href="@{/admin/courseStatus}">수강 현황</a></li>
                    </ul>
                </div>
                <div class="side-container">
                    <a href="#">
                        <img th:src="@{/images/ico-admin-persons.png}" alt="인사관리" class="side-icon">
                        <p class="side-title">인사관리</p>
                    </a>
                    <ul>
                        <li><a th:href="@{/admin/studentList}">학생 목록 및 등록</a></li>
                        <li><a th:href="@{/admin/facultyList}">교수 목록 및 등록</a></li>
                        <li><a href="#">임직원 목록 및 등록</a></li>
                    </ul>
                </div>
                <div class="side-container">
                    <a href="#">
                        <img th:src="@{/images/ico-admin-college.png}" alt="대학 및 학과" class="side-icon">
                        <p class="side-title">대학 및 학과</p>
                    </a>
                    <ul>
                        <li><a th:href="@{/admin/departmentList}">대학 및 학과 목록</a></li>
                        <li><a th:href="@{/admin/univDeptEnrollment}">대학 및 학과 등록</a></li>
                    </ul>
                </div>
                <div class="side-container">
                    <a href="#">
                        <img th:src="@{/images/ico-admin-board.png}" alt="게시판관리" class="side-icon">
                        <p class="side-title">게시판관리</p>
                    </a>
                    <ul>
                        <li><a href="#">입학안내 공지사항</a></li>
                        <li><a href="#">학사안내 공지사항</a></li>
                        <li><a href="#">커뮤니티 공지사항</a></li>
                        <li><a href="#">입학상담</a></li>
                        <li><a href="#">질문 및 답변</a></li>
                        <li><a href="#">식단안내</a></li>
                        <li><a href="#">자료실</a></li>
                    </ul>
                </div>
            </div>
            <div class="main">
                <div class="main-header">
                    <h3>운영현황 메인</h3>
                    <div class="location">
                        <p>HOME</p>
                        <img th:src="@{/images/bg-link-arr-over.png}" alt="">
                        <span class="current-location">운영현황 메인</span>
                    </div>
                </div>
                <div class="table-container">
                    <div class="main-title">
                        <img th:src="@{/images/bullet-h4.png}" alt="before">
                        <p>대학 운영 현황</p>
                    </div>
                    <table class="univ-manage-stat tables">
                        <tr>
                            <th>개설학과</th>
                            <th>개설강좌</th>
                            <th>전체교수</th>
                            <th>임직원</th>
                            <th>학생</th>
                            <th>휴학생</th>
                            <th>대학원생</th>
                            <th>졸업생</th>
                        </tr>
                        <tr>
                            <td>[[${stats.departmentCount}]]</td>
                            <td>[[${stats.courseCount}]]</td>
                            <td>[[${stats.professorCount}]]</td>
                            <td>[[${stats.staffCount}]]</td>
                            <td>[[${stats.studentCount}]]</td> <!-- 재학생 -->
                            <td>[[${stats.leaveCount}]]</td>
                            <td>[[${stats.graduateSchoolCount}]]</td>
                            <td>[[${stats.graduateCount}]]</td>
                        </tr>
                    </table>
                </div>
                <div class="table-container">
                    <div class="main-title oneline-two-title">
                        <div>
                            <img th:src="@{/images/bullet-h4.png}" alt="before">
                            <p>교육 운영 현황</p>
                        </div>
                        <a href="#" class="viewmore">
                            <img th:src="@{/images/bg-viewmore01.png}" alt="before">
                        </a>
                    </div>
                    <table class="edc-stat tables">
                        <tr>
                            <th>학과</th>
                            <th>과목코드</th>
                            <th>과목명</th>
                            <th>학년</th>
                            <th>담당교수</th>
                            <th>구분</th>
                            <th>학점</th>
                            <th>강의장</th>
                            <th>수강인원</th>
                            <th>수강률</th>
                        </tr>
                        <tr th:each="course : ${courseList}">
                            <td th:text="${course.department.deptName}">학과</td>
                            <td th:text="${course.cor_code}">과목코드</td>
                            <td th:text="${course.cor_lecName}">과목명</td>
                            <td th:text="${course.cor_grade }">학년</td>
                            <td th:text="${course.cor_professor}">담당교수</td>
                            <td th:text="${course.cor_type}">전공</td> <!-- 구분은 더미 또는 별도 필드 생기면 수정 -->
                            <td th:text="${course.cor_point}">학점</td>
                            <td th:text="${course.cor_class}">강의장</td>
                            <td th:text="${'32/' + course.cor_maxEnrolment}">수강인원</td> <!-- 현재 수강인원 더미로 32 고정 -->
                            <td>70%</td> <!-- 수강률 더미 -->
                        </tr>

                    </table>
                </div>
                <div class="table-container oneline-two-container">
                    <div>
                        <div class="main-title">
                            <img th:src="@{/images/bullet-h4.png}" alt="before">
                            <p>학년별 학생 현황</p>
                        </div>
                        <table class="stat-students-grade tables">
                            <tr>
                                <th>학년</th>
                                <th>재학생</th>
                                <th>휴학생</th>
                                <th>전체</th>
                            </tr>
                            <tbody>
                            <tr th:each="stat : ${gradeStats}"
                                th:class="${stat.grade == '총합'} ? 'total-row' : ''">
                                <td th:text="${stat.grade}"></td>
                                <td th:text="${stat.enrolledCount}"></td>
                                <td th:text="${stat.leaveCount}"></td>
                                <td th:text="${stat.totalCount}"></td>

                            </tr>
                            </tbody>

                        </table>
                    </div>
                    <div>
                        <div class="main-title oneline-two-title">
                            <div>
                                <img th:src="@{/images/bullet-h4.png}" alt="before">
                                <p>학과별 학생 현황</p>
                            </div>
                            <a href="#" class="viewmore">
                                <img th:src="@{/images/bg-viewmore01.png}" alt="before">
                            </a>
                        </div>
                        <table class="stat-students-dep tables">
                            <tr>
                                <th>학과</th>
                                <th>재학생</th>
                                <th>휴학생</th>
                                <th>전체</th>
                            </tr>
                            <tbody>
                            <tr th:each="stat : ${deptStats}"
                                th:class="${stat.deptName == '총합'} ? 'total-row' : ''">
                                <td th:text="${stat.deptName}"></td>
                                <td th:text="${stat.enrolledCount}"></td>
                                <td th:text="${stat.leaveCount}"></td>
                                <td th:text="${stat.totalCount}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="table-container oneline-two-container">
                    <div>
                        <div class="main-title oneline-two-title">
                            <div>
                                <img th:src="@{/images/bullet-h4.png}" alt="before">
                                <p>학사안내 공지사항</p>
                            </div>
                            <a href="#" class="viewmore">
                                <img th:src="@{/images/bg-viewmore01.png}" alt="before">
                            </a>
                        </div>
                        <table class="aca-notice tables">
                            <tr>
                                <th>번호</th>
                                <th>제목</th>
                                <th>작성자</th>
                                <th>작성일</th>
                            </tr>
                            <tr>
                                <td>12</td>
                                <td>2025학년도 신입학 추가모집 …</td>
                                <td>담당자</td>
                                <td>25.03.13</td>
                            </tr>
                            <tr>
                                <td>11</td>
                                <td>2025학년도 신입학 추가모집 …</td>
                                <td>담당자</td>
                                <td>25.03.13</td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td>2025학년도 신입학 추가모집 …</td>
                                <td>담당자</td>
                                <td>25.03.13</td>
                            </tr>
                            <tr>
                                <td>9</td>
                                <td>2025학년도 신입학 추가모집 …</td>
                                <td>담당자</td>
                                <td>25.03.13</td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>2025학년도 신입학 추가모집 …</td>
                                <td>담당자</td>
                                <td>25.03.13</td>
                            </tr>
                        </table>
                    </div>
                    <div>
                        <div class="main-title oneline-two-title">
                            <div>
                                <img th:src="@{/images/bullet-h4.png}" alt="before">
                                <p>입학상담</p>
                            </div>
                            <a href="#" class="viewmore">
                                <img th:src="@{/images/bg-viewmore01.png}" alt="before">
                            </a>
                        </div>
                        <table class="counseling tables">
                            <tr>
                                <th>번호</th>
                                <th>제목</th>
                                <th>작성일</th>
                                <th>상태</th>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>[정시] 정시모집 관련해 문의…</td>
                                <td>25.03.13</td>
                                <td><span class="wating-answer answer-status">답변대기</span></td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>2025학년도 신입학 추가모집 …</td>
                                <td>25.03.13</td>
                                <td><span class="answer-complete answer-status">답변완료</span></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>2025학년도 신입학 추가모집 …</td>
                                <td>25.03.13</td>
                                <td><span class="answer-complete answer-status">답변완료</span></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>2025학년도 신입학 추가모집 …</td>
                                <td>25.03.13</td>
                                <td><span class="answer-complete answer-status">답변완료</span></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>2025학년도 신입학 추가모집 …</td>
                                <td>25.03.13</td>
                                <td><span class="answer-complete answer-status">답변완료</span></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div class="footer-container">
            <p>Copyright ©Green University All rights reserved. ADMINISTRATOR ver.[[${@appInfo.appVersion}]]</p>
        </div>
    </footer>
</div>
</body>
</html>