<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">

    <!-- Daum Address -->
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

    <script th:src="@{/js/checkOne.js}"></script>
    <script th:src="@{/js/selectDept.js}"></script>
    <script th:src="@{/js/daumPostCode.js}"></script>

    <script th:src="@{/js/deptSelector.js}"></script>

    <link rel="stylesheet" th:href="@{/style/common/_adminHeader.css}">
    <link rel="stylesheet" th:href="@{/style/common/_adminFooter.css}">

    <link rel="stylesheet" th:href="@{/style/admin/profEnrollment.css}">
    <link rel="website icon" type="png" th:href="@{/images/favicon.png}">
    <title>교수 등록</title>
</head>
<body>
<div id="wrapper">
    <th:block th:include="/common/_adminHeader.html"/>
    <main>
        <div class="main-container">
            <div class="sidebar">
                <div class="side-container">
                    <a href="#">
                        <img th:src="@{/images/ico-admin-setting.png}" alt="환경설정" class="side-icon">
                        <p class="side-title">환경설정</p>
                    </a>
                    <ul>
                        <li><a href="#">기본환경정보</a></li>
                        <li><a href="#">약관관리</a></li>
                    </ul>
                </div>
                <div class="side-container">
                    <a href="#">
                        <img th:src="@{/images/ico-admin-academic.png}" alt="학사운영" class="side-icon">
                        <p class="side-title">학사운영</p>
                    </a>
                    <ul>
                        <li><a th:href="@{/admin/eduStatus}">교육 운영 현황</a></li>
                        <li><a href="#">학년별 학생 현황</a></li>
                        <li><a href="#">학과별 학생 현황</a></li>
                        <li><a th:href="@{/admin/lectureList}">강의 목록</a></li>
                        <li><a th:href="@{/admin/lecEnrollment}">강의 등록</a></li>
                        <li><a th:href="@{/admin/courseStatus}">수강 현황</a></li>
                    </ul>
                </div>
                <div class="side-container">
                    <a href="#">
                        <img th:src="@{/images/ico-admin-persons.png}" alt="인사관리" class="side-icon">
                        <p class="side-title">인사관리</p>
                    </a>
                    <ul>
                        <li><a th:href="@{/admin/studentList}">학생 목록 및 등록</a></li>
                        <li><a th:href="@{/admin/facultyList}">교수 목록 및 등록</a></li>
                        <li><a href="#">임직원 목록 및 등록</a></li>
                    </ul>
                </div>
                <div class="side-container">
                    <a href="#">
                        <img th:src="@{/images/ico-admin-college.png}" alt="대학 및 학과" class="side-icon">
                        <p class="side-title">대학 및 학과</p>
                    </a>
                    <ul>
                        <li><a th:href="@{/admin/departmentList}">대학 및 학과 목록</a></li>
                        <li><a th:href="@{/admin/univDeptEnrollment}">대학 및 학과 등록</a></li>
                    </ul>
                </div>
                <div class="side-container">
                    <a href="#">
                        <img th:src="@{/images/ico-admin-board.png}" alt="게시판관리" class="side-icon">
                        <p class="side-title">게시판관리</p>
                    </a>
                    <ul>
                        <li><a href="#">입학안내 공지사항</a></li>
                        <li><a href="#">학사안내 공지사항</a></li>
                        <li><a href="#">커뮤니티 공지사항</a></li>
                        <li><a href="#">입학상담</a></li>
                        <li><a href="#">질문 및 답변</a></li>
                        <li><a href="#">식단안내</a></li>
                        <li><a href="#">자료실</a></li>
                    </ul>
                </div>
            </div>
            <div class="main">
                <div class="main-header">
                    <h3>교수 등록</h3>
                    <div class="location">
                        <p>인사관리</p>
                        <img th:src="@{/images/bg-link-arr-over.png}" alt="">
                        <span class="current-location">교수 등록</span>
                    </div>
                </div>
                <form th:action="@{/admin/profEnrollment}" method="post">
                    <div class="table-container">
                        <div class="main-title">
                            <img th:src="@{/images/bullet-h4.png}" alt="before">
                            <p>기본정보 입력</p>
                        </div>
                        <table class="basicInfo tables">
                            <tr>
                                <td rowspan="5" class="profile">
                                    <img th:src="@{/images/icon-avatar.png}" alt="프로필사진">
                                </td>
                            </tr>
                            <tr>
                                <td>교수번호</td>
                                <td style="color: #BC2E13;">연도 + 학과 코드 + 순번 조합 자동생성</td>
                                <td>주민등록번호</td>
                                <td>
                                    <input type="text" name="P_Pnum" class="jumin width-twohund"
                                           placeholder="- 포함 14자리 입력">
                                </td>
                            </tr>
                            <tr>
                                <td>이름</td>
                                <td>
                                    <input type="text" name="P_name" class="width-onehundfifty" placeholder="교수 이름 입력">
                                </td>
                                <td>영문명</td>
                                <td>
                                    <input type="text" name="P_Ename" class="width-twohund"
                                           placeholder="여권 등과 동일한 영문 이름">
                                </td>
                            </tr>
                            <tr>
                                <td>성별</td>
                                <td>
                                    <div class="checkbox">
                                        <input type="radio" name="P_gender" id="male" value="M">
                                        <label for="male">남</label>

                                        <input type="radio" name="P_gender" id="female" value="F">
                                        <label for="female">여</label>
                                    </div>
                                </td>
                                <td>국적</td>
                                <td>
                                    <select name="P_nation" class="country">
                                        <option value="#" disabled selected>선택</option>
                                        <option value="KOR">한국</option>
                                        <option value="USA">미국</option>
                                        <option value="JPN">일본</option>
                                        <option value="CHN">중국</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>휴대폰</td>
                                <td>
                                    <input type="text" class="width-onehundfifty" placeholder="휴대폰 번호 입력" name="P_hp">
                                </td>
                                <td>이메일</td>
                                <td>
                                    <input type="email" class="width-onehundfifty" placeholder="이메일 입력" name="P_email">
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>주소</td>
                                <td class="address" colspan="3">
                                    <input type="text" name="P_zip" id="postcode" class="width-onehundfifty"
                                           placeholder="우편번호 선택" readonly onclick="DaumPostcode()">
                                    <input type="text" class="addrs" id="address" name="P_addr1" placeholder="기본주소 선택"
                                           readonly>
                                    <input type="text" class="addrs" id="detailAddress" name="P_addr2"
                                           placeholder="상세주소 입력">
                                </td>
                            </tr>
                        </table>
                    </div>


                    <div class="table-container">
                        <div class="main-title">
                            <img th:src="@{/images/bullet-h4.png}" alt="before">
                            <p>학적정보 입력</p>
                        </div>
                        <table class="academicInfo tables">
                            <tr>
                                <td>졸업대학</td>
                                <td>
                                    <input type="text" name="P_graduniv" class="width-twohund" placeholder="대학교 이름 입력">
                                </td>
                                <td>학문 분야(전공)</td>
                                <td>
                                    <input type="text" name="P_spec" class="width-twohund" placeholder="전공 입력">
                                </td>
                            </tr>
                            <tr>
                                <td>졸업일</td>
                                <td>
                                    <input type="date" name="P_graddate" class="width-twohund selectDate">
                                </td>
                                <td>학위</td>
                                <td>
                                    <select id="degree" name="P_degree">
                                        <option value="박사">박사</option>
                                        <option value="석사">석사</option>
                                        <option value="학사">학사</option>
                                        <option value="명예박사">명예박사</option>
                                        <option value="전문학사">전문학사</option>
                                        <option value="준학사">준학사</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>담당학과</td>
                                <td>
                                    <!-- 단과대학 선택 -->
                                    <select id="category" name="P_lesson" onchange="updateOptions()">
                                        <option value="" disabled selected>-- 단과대학 선택 --</option>
                                        <option th:each="univ : ${univList}"
                                                th:value="${univ.univName}"
                                                th:text="${univ.univName}">
                                        </option>
                                    </select>

                                    <!-- 학과 선택 -->
                                    <select id="item" name="P_spec2">
                                        <option value="">-- 학과 선택 --</option>
                                        <option th:each="dept : ${deptList}"
                                                th:if="${dept.university != null}"
                                                th:data-category="${dept.university.univName}"
                                                th:value="${dept.deptNo}"
                                                th:text="${dept.deptName}">
                                        </option>
                                    </select>
                                </td>
                                <td>임용일</td>
                                <td>
                                    <input type="date" name="P_appointdate" class="width-twohund selectDate">
                                </td>
                            </tr>
                        </table>
                    </div>
                    <button type="submit">등록</button>
                </form>
            </div>
        </div>
    </main>
    <th:block th:include="/common/_adminFooter.html"/>
</div>
</body>
</html>